body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Optional: Prevents scrolling */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('resources/Neuro.jpg');
    background-size: contain; /* Ensures the image fits within the container without being cut */
    background-repeat: no-repeat;
    background-position: center;
}

.clickable-area {
    position: absolute;
    border: 2px dashed #FF0000;
    cursor: pointer;
}

.area1 {
    top: 35%; /* Adjust these values to position the first rectangle */
    left: 42%; /* Adjust these values to position the first rectangle */
    width: 15%;
    height: 10%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    padding: 1%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup .close {
    display: block;
    text-align: right;
    font-size: 20px;
    margin-top: -10px;
    margin-right: -10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}
